<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="basicBusinessDataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${basic_business.jdbc.driverClassName}" />
		<property name="url" value="${basic_business.jdbc.url}" />
		<property name="username" value="${basic_business.jdbc.username}" />
		<property name="password" value="${basic_business.jdbc.password}" />
		<property name="initialSize" value="10" />
		<!-- 连接池支持的最大连接数 -->
		<property name="maxActive" value="100" />
		<!-- 连接池中最多可空闲maxIdle个连接 已经不再使用，配置了也没效果 -->
		<!-- <property name="maxIdle" value="50" /> -->
		<!-- 连接池中最少空闲maxIdle个连接 -->
		<property name="minIdle" value="10" />
		<!-- 配置获取连接等待超时的时间 ,毫秒 -->
		<property name="maxWait" value="60000" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="1800000" />
		<property name="validationQuery" value="SELECT 1" />
		<!-- testWhileIdle -->
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
	</bean>

</beans>       
